<!-- index.html -->
<!doctype html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html ng-app="Organization">
<head>
    <!-- META -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"><!-- Optimize mobile viewport -->

    <title>Node/Angular Organization App</title>

    <!-- SCROLLS -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"><!-- load bootstrap -->
    <style>
        html                    { overflow-y:scroll; }
        body                    { padding-top:50px; }
        #todo-list              { margin-bottom:30px; }
    </style>

    <!-- SPELLS -->
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script><!-- load jquery -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.0.8/angular.min.js"></script><!-- load angular -->
    <script src="core.js"></script>

</head>
<!-- SET THE CONTROLLER AND GET ALL Oraganiz -->
<body ng-controller="mainController">
    <div class="container">

        <!-- HEADER AND Organiz COUNT -->
        <div class="jumbotron text-center">
            <h1>Organizations to manage <span class="label label-info">{{ organiz.length }}</span></h1>
        </div>

        <!-- Oragniz LIST -->
        <div id="organiz-list" class="row">
            <div class="col-sm-4 col-sm-offset-4">

                <!-- LOOP OVER THE ORGANIZ IN $scope.organiz -->
                <div class="checkbox" ng-repeat="organiz in organizations">
                    <label>
                        <input type="checkbox" ng-click="deleteOrganiz(organiz_id)"> {{ organiz.text }}
                    </label>
                </div>

            </div>
        </div>

        <!-- FORM TO CREATE Organiz -->
        <div id="organiz-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">

                        <!-- BIND THIS VALUE TO formData.text IN ANGULAR -->
                        <input type="text" class="form-control input-lg text-center" 
                        placeholder="IEEE organization" ng-model="formData.text">
                    </div>

                    <!-- createOrganiz() WILL CREATE NEW ORGANIZ -->
                    <button type="submit" class="btn btn-primary btn-lg" ng-click="createOrganiz()">Add</button>
                </form>
            </div>
        </div>

    </div>

</body>
</html>

